@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&family=Jura:wght@300;400;500');
/*
font-family: 'Comfortaa', cursive;
font-family: 'Jura', sans-serif;
*/
html {
    background-color: rgb(53, 52, 58)
}
html,
body {
    font-family: 'Comfortaa', cursive;
    font-weight: 300;

    height: 100%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    width: 900px;
    margin: 0 auto;
    
}
.output{
    display: inline-block;
    background-color: rgb(77, 82, 85);
    width: 892px;
    height: 150px;
    margin: 50px 0px 10px 0px;
    border-radius: 7px;
    padding: 5px;
    font-size: 20px;
}
.keyboard-wrapper {
    display: flex;
    flex-direction: row;
    gap: 6px;
    flex-wrap: wrap;
}
.service-key {
    display: flex;
    font-size: 16px;
    border-radius: 3px;
    height: 45px;
    background-color: rgb(42, 47, 49);
}
.service-key:active {
    background-color: aqua;
    box-shadow: 0px 0px 10px aqua;
}
.key {
    min-width: 53px;
    height: 45px;
    font-size: 25px;
    border-radius: 3px;
    text-align: center;
    background-color: rgb(77, 82, 85);
}
.key:active {
    background-color: aqua;
    box-shadow: 0px 0px 10px aqua;
}
#Backspace {
    flex-grow: 1;
}
#Tab {
    min-width: 65px;
}
#Delete {
    flex-grow: 1;
}
#CapsLock {
    min-width: 110px;
}
#Enter {
    flex-grow: 1;
}
#ShiftLeft {
    min-width: 135px;
}
#ShiftRight{
    min-width: 110px;
}
#ControlLeft,
#ControlRight {
    min-width: 65px;
}
#AltLeft,
#AltRight {
    min-width: 65px;
}
#Space {
    min-width: 382px;
}
#page-left,
#page-right {
    min-width: 45px;
}
#up-down {
    display: flex;
    flex-direction: column;
    min-width: 45px;
    height: 45px;
    gap: 2px;
}
#ArrowLeft,
#ArrowRight {
    min-width: 53px;
}
#ArrowUp {
    position: absolute;
    min-width: 53px;
    height: 22px;
    right: 285px;
    top: 428px;
}
#ArrowDown {
    position: relative;
    min-width: 53px;
    height: 22px;
    top: 23px;
}
.active {
    background-color: aqua;
    box-shadow: 0px 0px 10px aqua;
}